* {
	font-family: Arial;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
/* set all elements */
ul {
	list-style: none;
}
/* make the marker before li disappear */
#info-bar {
	width: 60px;
	height: 60px;
	/* set the size */
	position: absolute;
	border-radius: 50% 50% 50% 50%;
	/* make the info-bar a circle */
	background-position: center;
	background-color: rgb(160, 160, 160);
	overflow: hidden;
	left: 650px;
	top: 480px;
	/* set the position*/
	opacity: 0;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	/* make the info-bar go out on a line */
}
/* set the info bar */
#button:hover #info-bar {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 320px;
	left: 608px;
	/* set the position after hover */
	opacity: 1;
}
/* set the info bar after touching*/
.info {
	text-align: center;
	color: white;
	padding-top: 10px;
}
/* set the property of the info inside the bar */
.page span {
	padding-left: 10px;
}
.mine span {
	padding-left: 10px;
}
/* set the position of the spans */
.page img {
	width: 29px;
	height: 29px;
}
.mine img {
	width: 23px;
	height: 23px;
}
/* set the size of the images */
.mine {
	display: inline;
	/* make mine element stand in the same line*/
	margin-left: 3px;
	margin-top: 3px;
}
/* set the class mine */
.page {
	margin-top: 3px;
}
/* set the class page */
.user {
	font-size: 19pt;
}
/* set the font size of the class user */
.comment {
	font-size: 32pt;
}
/* set the font size of the class comment */
.posted {
	color: #079E6E;
	font-size: 19pt;
}
/* set the font size and the color of the class posted */
.like {
	color: #079E6E;
	font-size: 19pt;
}
/* set the font size and the color of the class like */
#control-ring-container li {
	width: 50px;
	height: 50px;
	/* set the size*/
	position: absolute;
	border-radius: 50% 50% 50% 50%;
	/* make it a circle */
	background-color: rgb(160, 160, 160);
	left: 654px;
	top: 484px;
	/* set the position */
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	/* set the way of going out*/
}
.mask {
	background-image: url("assets/images/mask.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0;
}
/* set the mask */
.history {
	background-image: url("assets/images/history.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0;
}
/* set the history */
.message {
	background-image: url("assets/images/message.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0;
}
/* set the message */
.setting {
	background-image: url("assets/images/setting.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	opacity: 0;
}
/* set the setting */
.sign {
	background-image: url("assets/images/signin.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0;
}
/* set the sign */
#button:hover .mask {
	width: 50px;
	height: 50px;
	opacity: 1;
	position: absolute;
	left: 580px;
	top: 445px;
}
/* set the mask after touching */
#button:hover .history {
	width: 50px;
	height: 50px;
	opacity: 1;
	position: absolute;
	left: 560px;
	top: 500px;
}
/* set the history after touching */
#button:hover .message {
	width: 50px;
	height: 50px;
	opacity: 1;
	position: absolute;
	left: 585px;
	top: 550px;
}
/* set the message after touching */
#button:hover .setting {
	width: 50px;
	height: 50px;
	opacity: 1;
	position: absolute;
	left: 628px;
	top: 589px;
}
/* set the setting after touching */
#button:hover .sign {
	width: 50px;
	height: 50px;
	opacity: 1;
	position: absolute;
	left: 690px;
	top: 580px;
}
/* set the sign after touching */
.unread {
	width: 20px;
	height: 20px;
	border-radius: 50% 50% 50% 50%;
	background-color: red;
	float: right;
	text-align: center;
	font-family: Microsoft YaHei, Arial;
	font-size: 12pt;
	color: white;
}
/* set the number near the message circle */
.apb {
	background-image: url("assets/images/atplus_white.png");
	background-color: rgb(160, 160, 160);
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	/* size */
	border-radius: 50% 50% 50% 50%;
	background-position: 50% 50%;
	position: absolute;
	left: 680px;
	top: 485px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	/* make it inside-out */
}
/* set the original apk */
#button:hover .apb {
	width: 75px;
	height: 75px;
	top: 480px;
	background-image: url("assets/images/atplus_green.png");
	background-color: rgba(48, 63, 159, 1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition-delay: 0.5s;
	/* make it inside-out */
}
/* set the apk after touching */
